@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 24px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #F1F1F1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
._h1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 164px;
  line-height: 95%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #33333C;
}

._h2 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  text-transform: capitalize;
  color: #33333C;
  text-shadow: 180px 80px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1280px) {
  ._h2 {
    font-size: calc(55px + (80 - 55) * ((100vw - 768px) / (1280 - 768)));
  }
}

@media (max-width: 1024px) {
  ._h2 {
    text-shadow: 130px 60px 0px rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 767px) {
  ._h2 {
    text-shadow: 60px 50px 0px rgba(0, 0, 0, 0.05);
  }
}

._h3 {
  font-family: 'Noto Serif Display', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 135.4%;
  text-transform: capitalize;
  color: #33333C;
  margin-bottom: 20px;
}

@media (max-width: 1280px) {
  ._h3 {
    font-size: calc(28px + (48 - 28) * ((100vw - 375px) / (1280 - 375)));
    line-height: calc(120% + (135.4 - 120) * ((100vw - 375px) / (1280 - 375)));
  }
}

._h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120.8%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #33333C;
}

@media (max-width: 1280px) {
  ._h4 {
    font-size: calc(18px + (24 - 18) * ((100vw - 375px) / (1280 - 375)));
    line-height: calc(110% + (120.8 - 110) * ((100vw - 375px) / (1280 - 375)));
  }
}

._h5 {
  font-family: 'Noto Serif Display', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 135%;
  text-transform: capitalize;
  color: #33333C;
}

@media (max-width: 1280px) {
  ._h5 {
    font-size: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
    line-height: calc(120% + (135 - 120) * ((100vw - 375px) / (1280 - 375)));
  }
}

._h6 {
  font-family: 'Noto Serif Display', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 34px;
  line-height: 135.3%;
  text-transform: capitalize;
  color: #33333C;
}

._text {
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #33333C;
}

@media (max-width: 1280px) {
  ._text {
    font-size: calc(19px + (24 - 19) * ((100vw - 768px) / (1280 - 768)));
    line-height: calc(122% + (125 - 122) * ((100vw - 375px) / (1280 - 375)));
  }
}

p._text:not(:last-child) {
  margin-bottom: 10px;
}

._text-nav {
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  font-size: 24px;
  font-size: calc(17px + (24 - 17) * ((100vw - 375px) / (1400 - 375)));
  line-height: 137.5%;
  text-transform: capitalize;
  color: #33333C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

._text-nav:hover {
  text-shadow: 0px 20px 0px rgba(0, 0, 0, 0.05);
  color: #007B88;
}

._text-btn {
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 137.5%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  ._text-btn {
    font-size: calc(20px + (24 - 20) * ((100vw - 768px) / (1280 - 768)));
  }
}

._text-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  ._text-bold {
    font-size: calc(19px + (24 - 19) * ((100vw - 768px) / (1280 - 768)));
  }
}

._text-link {
  font-family: 'Noto Serif Display', serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 135.7%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #007B88;
}

@media (max-width: 1280px) {
  ._text-link {
    font-size: calc(18px + (28 - 18) * ((100vw - 375px) / (1400 - 375)));
  }
}

.material-symbols-outlined {
  padding-left: 10px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100px;
}

.header__menu {
  margin: calc(30px + (50 - 30) * ((100vw - 375px) / (1400 - 375))) 0;
}

@media (max-width: 1100px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 800px;
    margin: calc(30px + (50 - 30) * ((100vw - 375px) / (1400 - 375))) auto calc(30px + (50 - 30) * ((100vw - 375px) / (1400 - 375)));
  }
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
  display: none;
}

@media (max-width: 1100px) {
  .menu__icon {
    display: block;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 30px;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after, .menu__icon span {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 10%;
    left: 0;
    border-radius: 3px;
    background: #33333C;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__icon._active::before, .menu__icon._active::after {
    background: #F1F1F1;
  }
  .menu__icon._active span {
    opacity: 0;
  }
  .menu__icon::before, .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon._active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__icon._active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
}

@media (min-width: 1100px) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu__body * {
  white-space: nowrap;
}

.menu__list {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 1100px) {
  .menu__list {
    display: none !important;
  }
}

.menu__list_2 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.menu__item:not(:last-child) {
  padding: 0 calc(20px + (40 - 20) * ((100vw - 982px) / (1400 - 982))) 0 0;
}

.menu__contacts {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.contacts__item:not(:last-child) {
  padding: 0 calc(15px + (25 - 15) * ((100vw - 375px) / (1400 - 375))) 0 0;
}

.contacts__link_phone i {
  font-size: calc(30px + (44 - 32) * ((100vw - 375px) / (1400 - 375))) !important;
  -webkit-transform: translate(4px, 0);
          transform: translate(4px, 0);
}

.contacts__link_phone i:hover {
  -webkit-transform: translate(4px, 0) scale(1.1, 1.1) !important;
          transform: translate(4px, 0) scale(1.1, 1.1) !important;
}

.contacts__link i {
  font-size: calc(32px + (46 - 32) * ((100vw - 375px) / (1400 - 375)));
  color: #33333C;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacts__link i:hover {
  color: #007B88;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.menu-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 60vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: #33333C;
  opacity: 0.98;
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-small._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu-small__logo {
  max-width: 120px;
  margin-bottom: 30px;
}

.menu-small__logo img {
  max-width: 100%;
}

.menu-small__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-small__list li {
  padding: 30px 0px;
  border-bottom: 1px solid #F1F1F1;
}

.menu-small__item a {
  display: block;
  width: 45vw;
}

.menu__link_small {
  color: #F1F1F1;
  font-weight: 400;
}

.page__first {
  padding: 190px 0px 100px 0px;
  position: relative;
}

@media (max-width: 1280px) {
  .page__first {
    padding-top: calc(120px + (190 - 120) * ((100vw - 375px) / (1280 - 375)));
    padding-bottom: calc(70px + (100 - 70) * ((100vw - 768px) / (1280 - 768)));
  }
}

.first__title {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1075px;
  margin: 0 auto 50px;
  padding: 0px 20px;
}

@media (max-width: 768px) {
  .first__title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.first__logo {
  min-width: 365px;
  margin: 0px 20px;
}

@media (max-width: 1280px) {
  .first__logo {
    min-width: calc(255px + (365 - 255) * ((100vw - 375px) / (1280 - 375)));
    margin: 0 0 20px 0;
  }
}

@media (max-width: 580px) {
  .first__logo {
    max-width: 300px;
  }
}

@media (max-width: 424px) {
  .first__logo {
    max-width: 285px;
  }
}

.first__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.first__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-weight: 500;
  font-size: 164px;
  line-height: 95%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #33333C;
}

@media (max-width: 1280px) {
  .first__text {
    font-size: calc(92px + (164 - 92) * ((100vw - 375px) / (1280 - 375)));
  }
}

@media (max-width: 1280px) {
  .first__text {
    letter-spacing: calc(0em + (0.1 - 0) * ((100vw - 768px) / (1280 - 768)));
  }
}

.first__utp-slider {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -92px;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 137%;
  text-align: center;
  text-transform: uppercase;
  color: #33333C;
  background: #ffffff59;
  padding: 94px 0px 40px 0px;
}

@media (max-width: 1280px) {
  .first__utp-slider {
    font-size: calc(16px + (35 - 16) * ((100vw - 375px) / (1280 - 375)));
  }
}

.first__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 100;
}

.first__button a {
  position: relative;
  padding: 27px 43px 27px 43px;
  background: rgba(255, 255, 255, 0.4);
  border: 4px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 3px;
  color: #33333C;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.first__button a span {
  font-size: 32px;
  vertical-align: middle;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  padding: 0px 0px 0px 10px;
  color: #33333C;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.first__button a:hover {
  color: #F1F1F1;
  border: 4px solid #007B88;
  background: #007B88;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.first__button a:hover span {
  color: #F1F1F1;
  -webkit-transform: translate(5px, -2px);
          transform: translate(5px, -2px);
}

.first__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.clouds {
  background: url(../img/first/clouds-main.png) 50% 0/cover no-repeat;
  pointer-events: none;
}

.clouds__first {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 507px;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.page__lirics {
  margin: 150px auto;
}

@media (max-width: 1280px) {
  .page__lirics {
    margin: calc(50px + (150 - 50) * ((100vw - 375px) / (1280 - 375))) auto;
  }
}

@media (max-width: 767px) {
  .page__lirics {
    margin: 50px auto;
  }
}

.page .lirics {
  position: relative;
  z-index: 50;
}

.page .lirics p {
  font-family: 'Noto Serif', serif;
  font-size: 48px;
  line-height: 135.4%;
  text-align: center;
}

@media (max-width: 1280px) {
  .page .lirics p {
    font-size: calc(35px + (48 - 35) * ((100vw - 768px) / (1280 - 768)));
  }
}

.page .lirics span {
  font-family: 'Noto Serif Display', serif;
  font-style: italic;
  font-weight: 700;
}

.page__best {
  padding: 150px 0px;
}

@media (max-width: 1280px) {
  .page__best {
    padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1280 - 375))) 0;
  }
}

.best__one-page {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .best__one-page {
    margin-bottom: 50px;
  }
}

.one-page__clouds {
  background: url(../img/best/best-clouds.png) 50% 1%/contain no-repeat;
}

@media (max-width: 940px) {
  .one-page__clouds {
    background: url(../img/best/best-clouds.png) -130% 50%/contain no-repeat;
  }
}

.one-page__row-1 {
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .one-page__row-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .one-page__row-1 {
    margin-bottom: 20px;
  }
}

.one-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (max-width: 767px) {
  .one-page__content {
    margin-bottom: 20px;
  }
}

.one-page__body {
  padding: 150px 100px 0 0;
}

@media (min-width: 767px) {
  .one-page__body {
    width: 50%;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  .one-page__body {
    padding: calc(75px + (150 - 75) * ((100vw - 768px) / (1280 - 768))) calc(50px + (100 - 50) * ((100vw - 768px) / (1280 - 768))) 0 0;
  }
}

@media (max-width: 767px) {
  .one-page__body {
    padding: 0;
  }
}

.one-page__title {
  position: relative;
  z-index: 100;
  white-space: nowrap;
  margin-bottom: 100px;
}

@media (max-width: 510px) {
  .one-page__title {
    white-space: normal;
  }
}

@media (max-width: 1280px) {
  .one-page__title {
    margin-bottom: calc(35px + (100 - 35) * ((100vw - 375px) / (1280 - 375)));
  }
}

@media (max-width: 767px) {
  .one-page__image {
    margin: 0px 20px;
    height: 90vh;
  }
}

@media (min-width: 767px) {
  .one-page__image {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
}

.one-page__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 767px) {
  .one-page__img {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 767px) {
  .one-page__container-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

.one-page__image-2 {
  width: 100%;
}

@media (max-width: 767px) {
  .one-page__image-2 {
    height: 90vh;
    margin-bottom: 20px;
  }
}

@media (min-width: 767px) {
  .one-page__image-2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    height: 100%;
  }
}

.one-page__img-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 767px) {
  .one-page__img-2 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 767px) {
  .one-page__content-2 {
    padding-left: calc(50px + (100 - 50) * ((100vw - 768px) / (1280 - 768)));
  }
}

.two-page__clouds {
  background: url(../img/best/best-clouds.png) -10% 40%/70% auto no-repeat;
}

@media (min-width: 767px) {
  .two-page__row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.two-page__row1 .two-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 767px) {
  .two-page__row1 .two-page__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    position: relative;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  .two-page__row1 .two-page__image {
    margin: 20px;
  }
}

.two-page__row1 .two-page__img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .two-page__row1 .two-page__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.two-page__body {
  padding: 0 100px 0 0;
}

@media (min-width: 767px) {
  .two-page__body {
    width: 50%;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  .two-page__body {
    padding: 0 calc(50px + (100 - 50) * ((100vw - 768px) / (1280 - 768))) 0 0;
  }
}

@media (max-width: 767px) {
  .two-page__body {
    padding: 0;
  }
}

.two-page__row2 {
  background: url(../img/best/best-clouds.png) 50% 0/100% auto no-repeat;
  margin: 0 0 20px 0;
}

@media (min-width: 767px) {
  .two-page__row3 .two-page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1430px;
    padding: 0px 5px;
  }
}

.two-page__row3 .two-page__image {
  position: relative;
  aspect-ratio: 4 / 3;
}

@media (min-width: 767px) {
  .two-page__row3 .two-page__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 15px;
  }
}

@media (max-width: 767px) {
  .two-page__row3 .two-page__image:not(:last-child) {
    margin-bottom: 20px;
  }
}

.two-page__row3 .two-page__img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .two-page__row3 .two-page__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.page__gallary {
  padding: 150px 0px 150px 0px;
}

@media (max-width: 1360px) {
  .page__gallary {
    padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
  }
}

.gallary__title {
  position: relative;
  z-index: 50;
  padding: 0 0 100px 0;
}

@media (max-width: 1280px) {
  .gallary__title {
    padding: 0 20px calc(35px + (100 - 35) * ((100vw - 375px) / (1280 - 375))) 20px;
  }
}

.gallary-slider :not(:last-child) {
  margin-bottom: 15px;
}

.gallary-slider__slide {
  aspect-ratio: 1.78;
}

.gallary-slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallary-slider .swiper-slide {
  cursor: pointer;
}

.catalog {
  padding: 150px 0px 150px 0px;
  background: white;
}

@media (max-width: 1360px) {
  .catalog {
    padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
  }
}

.catalog__title {
  margin-bottom: 100px;
}

.catalog__title h2 {
  display: inline-block;
}

@media (min-width: 768px) {
  .catalog__title h2 {
    position: relative;
  }
  .catalog__title h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 107%;
    top: 50%;
    background: #33333C;
  }
}

.cataloge-header__container {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .cataloge-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.catalog__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px 0 0;
}

@media (max-width: 992px) {
  .catalog__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.catalog__navigation span {
  font-size: 54px;
  font-weight: 300;
  cursor: pointer;
  color: #33333C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__navigation span:hover {
  color: #007B88;
}

.catalog__prev span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog__prev span:hover {
  -webkit-transform: rotate(180deg) translate(3px, 0);
          transform: rotate(180deg) translate(3px, 0);
}

.catalog__bullets {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.catalog__bullets .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #33333C;
}

.catalog__next span:hover {
  -webkit-transform: translate(3px, 0);
          transform: translate(3px, 0);
}

.cataloge-header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.catalog-header {
  text-align: center;
}

@media (min-width: 992px) {
  .catalog-header {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .cataloge__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cataloge__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 992px) {
  .cataloge__image {
    margin-bottom: 20px;
  }
}

.cataloge__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 992px) {
  .cataloge__subject {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (min-width: 992px) {
  .subject__body {
    max-width: 50%;
    margin-left: auto;
    padding: 0 0 150px 50px;
  }
}

.subject__more {
  display: inline-block;
  margin-bottom: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px #007a8800 solid;
}

@media (max-width: 1360px) {
  .subject__more {
    margin-bottom: calc(30px + (80 - 30) * ((100vw - 375px) / (1400 - 375)));
  }
}

.subject__more:hover {
  color: #33333C;
  border-bottom: 2px #33333C solid;
}

.subject__items:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 1360px) {
  .subject__items:not(:last-child) {
    margin-bottom: calc(5px + (20 - 5) * ((100vw - 375px) / (1400 - 375)));
  }
}

.subject__items span {
  padding-left: 10px;
}

.subject__button {
  margin-bottom: 40px;
}

@media (max-width: 1360px) {
  .subject__button {
    margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1400 - 375)));
  }
}

.subject-list {
  margin-bottom: 80px;
}

@media (max-width: 1360px) {
  .subject-list {
    margin-bottom: calc(30px + (80 - 30) * ((100vw - 375px) / (1400 - 375)));
  }
}

.button-2 a {
  padding: 28px 45px;
  background: #007B88;
  border-radius: 3px;
  border: 2px #007B88 solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1360px) {
  .button-2 a {
    padding: calc(15px + (28 - 15) * ((100vw - 375px) / (1400 - 375))) calc(25px + (45 - 25) * ((100vw - 375px) / (1400 - 375)));
  }
}

@media (max-width: 440px) {
  .button-2 a {
    width: 100%;
    text-align: center;
  }
}

.button-2 a:hover {
  background: #F1F1F1;
  border: 2px #33333C solid;
  color: #33333C;
}

.button-2 a:hover span {
  color: #33333C;
}

.button-2 * {
  color: #F1F1F1;
  vertical-align: middle;
  line-height: 100%;
}

.button-2 span {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.subject-price span {
  padding-left: 10px;
}

.form {
  padding: 150px 0px 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1360px) {
  .form {
    padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
  }
}

.form__content {
  position: relative;
}

.form__content::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
  background: #33333C;
}

.form__title {
  position: relative;
  padding: 80px 30px 20px 0px;
  margin-bottom: 50px;
}

.form__title p {
  text-align: left !important;
}

.form__title::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #33333C;
}

.form__title::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 95%;
  bottom: 0;
  border-top: #33333C 2px solid;
  border-right: #33333C 2px solid;
  -webkit-transform: translate(-106%, 40%) rotate(45deg);
          transform: translate(-106%, 40%) rotate(45deg);
}

.form__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin: 0px 0px 40px 30px;
}

.form__body::after {
  content: '';
  position: absolute;
  z-index: 150;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(/img/atom-animation-loader.gif) center/cover no-repeat;
  background-blend-mode: normal;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__body._sending::after {
  opacity: 0.9;
  visibility: visible;
}

.form__item:not(:last-child) {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  height: 50px;
  background: #F1F1F1;
  border-bottom: #33333C 2px solid;
  padding-left: 15px;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.form__button {
  display: inline-block;
  padding: 28px 45px;
  min-width: 440px;
  margin: 0 auto;
  background: #007B88;
  color: #F1F1F1;
  border-radius: 3px;
  border: 2px #007B88 solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1360px) {
  .form__button {
    padding: calc(15px + (28 - 15) * ((100vw - 375px) / (1400 - 375))) calc(25px + (45 - 25) * ((100vw - 375px) / (1400 - 375)));
  }
}

@media (max-width: 440px) {
  .form__button {
    width: 100%;
  }
}

.form__button:hover {
  background: #F1F1F1;
  border: 2px #33333C solid;
  color: #33333C;
}

.form__button:hover span {
  color: #33333C;
}

.form__button * {
  color: #F1F1F1;
  vertical-align: middle;
  line-height: 100%;
}

.form__button span {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

textarea.form__input {
  resize: vertical;
}

.contacts__text {
  margin-bottom: 20px;
}

.contacts__item_bright i {
  color: #007B88;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacts__item_bright i:hover {
  color: #33333C;
}

.checkbox span {
  color: #33333C;
}

.checkbox__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.page__team {
  padding: 150px 0px 150px 0px;
}

@media (max-width: 1360px) {
  .page__team {
    padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
  }
}

.team__title {
  margin-bottom: 100px;
  text-align: right;
  text-shadow: -180px 80px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1280px) {
  .team__title {
    margin-bottom: calc(30px + (100 - 30) * ((100vw - 375px) / (1400 - 375)));
  }
}

@media (max-width: 1024px) {
  .team__title {
    text-shadow: -130px 60px 0px rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 767px) {
  .team__title {
    text-shadow: -60px 50px 0px rgba(0, 0, 0, 0.05);
  }
}

.team__bg {
  position: relative;
}

.team__bg p {
  pointer-events: none;
  word-break: break-word;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100px;
  top: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 520px;
  line-height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1360px) {
  .team__bg p {
    font-size: calc(250px + (490 - 250) * ((100vw - 375px) / (1400 - 375)));
  }
}

.team__head {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .team__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__head .team__column:last-child {
    padding-right: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .team__head .team__column:last-child {
    padding-right: calc(10px + (200 - 10) * ((100vw - 375px) / (1400 - 375)));
  }
}

@media (max-width: 992px) {
  .team__head .team__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__body .team__column {
  margin: 0 15px 20px;
}

.team__column_bg {
  position: relative;
}

.team__column_bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: #C4C4C4;
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

.avatar {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .avatar {
    width: calc(220px + (350 - 220) * ((100vw - 375px) / (1400 - 375)));
    height: calc(220px + (350 - 220) * ((100vw - 375px) / (1400 - 375)));
  }
}

.avatar:hover .avatar__content {
  opacity: 1;
  pointer-events: visible;
}

.avatar__content {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FAFAFA;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 123, 136, 0.7)), to(rgba(0, 123, 136, 0.7)));
  background: linear-gradient(0deg, rgba(0, 123, 136, 0.7), rgba(0, 123, 136, 0.7));
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.avatar__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.team__avatar_bg {
  position: relative;
}

.team__avatar_bg::before {
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  left: 50%;
  top: 0;
  background: white;
}

.team__bottom img {
  max-width: 100%;
}

.cta__content {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .cta__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cta__list:not(:last-child) {
  margin-right: 50px;
}

.page__base {
  padding: 150px 0px 150px 0px;
}

@media (max-width: 1360px) {
  .page__base {
    padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
  }
}

.base__title {
  margin-bottom: 100px;
}

@media (max-width: 1280px) {
  .base__title {
    margin-bottom: calc(30px + (100 - 30) * ((100vw - 375px) / (1400 - 375)));
  }
}

.avto-1__title {
  margin-bottom: 40px;
}

@media (max-width: 1280px) {
  .avto-1__title {
    margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1400 - 375)));
  }
}

.avto-1__subtitle {
  margin-bottom: 20px;
}

@media (max-width: 1280px) {
  .avto-1__subtitle {
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (1400 - 375)));
  }
}

.avto-1__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(355px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
}

.avto-1__item {
  position: relative;
  padding: 0px 0px 40% 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.avto-1__item:hover .avto-1__content {
  opacity: 1;
  pointer-events: visible;
}

.avto-1__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.avto-1__item_full {
  grid-column: span 3;
  grid-row: span 2;
}

.avto-1__item_long {
  grid-column: span 2;
  grid-row: span 1;
}

.avto-1__content {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px 30px;
  color: #33333C;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(186, 231, 221, 0.7)), to(rgba(186, 231, 221, 0.7)));
  background: linear-gradient(0deg, rgba(186, 231, 221, 0.7), rgba(186, 231, 221, 0.7));
  background-blend-mode: screen, normal;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .slick-list {
    width: 85%;
  }
}

.first__utp-slider {
  position: relative;
  /* Точки (булиты) */
  /* Активная точка */
}

.first__utp-slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  z-index: 10;
  width: 71px;
  height: 60px;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .first__utp-slider .slick-arrow {
    display: none;
  }
}

@media (max-width: 1280px) {
  .first__utp-slider .slick-arrow {
    width: calc(40px + (71 - 40) * ((100vw - 768px) / (1400 - 768)));
    height: calc(40px + (71 - 40) * ((100vw - 768px) / (1400 - 768)));
  }
}

@media (max-width: 768px) {
  .first__utp-slider .slick-arrow {
    display: none;
  }
}

.first__utp-slider .slick-arrow.slick-prev {
  cursor: pointer;
  left: 100px;
  background: url(../img/first/Union.svg) 0 0/100% no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: left 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: left 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

@media (max-width: 1400px) {
  .first__utp-slider .slick-arrow.slick-prev {
    left: calc(50px + (100 - 50) * ((100vw - 768px) / (1400 - 768)));
  }
}

.first__utp-slider .slick-arrow.slick-prev:hover {
  left: calc((50px + (100 - 50) * ((100vw - 768px) / (1400 - 768))) - 17px);
}

.first__utp-slider .slick-arrow.slick-next {
  cursor: pointer;
  right: 110px;
  background: url(../img/first/Union.svg) 0 0/100% no-repeat;
  -webkit-transform: scale(-1, 1) translateY(-50%);
          transform: scale(-1, 1) translateY(-50%);
  -webkit-transition: right 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: right 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

@media (max-width: 1400px) {
  .first__utp-slider .slick-arrow.slick-next {
    right: calc(50px + (100 - 50) * ((100vw - 768px) / (1400 - 768)));
  }
}

.first__utp-slider .slick-arrow.slick-next:hover {
  right: calc((50px + (100 - 50) * ((100vw - 768px) / (1400 - 768))) - 17px);
}

.first__utp-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
}

.first__utp-slider .slick-dots button {
  margin-right: 10px;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.first__utp-slider .slick-dots .slick-active button {
  background: #33333C;
  width: 14px;
  height: 14px;
}

.footer__image {
  position: absolute;
}

.footer__image img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.footer__body {
  position: relative;
  z-index: 5;
  margin-bottom: 50px;
}

.footer__body a {
  color: #F1F1F1;
}

.footer__logo {
  text-align: center;
  margin-bottom: 40px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__item_grey i {
  color: #C4C4C4;
}

.header__container-tours {
  border-bottom: 1px solid #000;
  position: relative;
  z-index: 5;
}

.header__clouds-tours {
  background: url(../img/tours/clouds-tours.png) 0 0/100% calc(50% + (100 - 50) * ((100vw - 375px) / (1400 - 375))) no-repeat;
  position: absolute;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  pointer-events: none;
}

.page__tours {
  text-align: center;
  margin: 340px 0px 0px 0px;
}

@media (max-width: 1400px) {
  .page__tours {
    margin: calc(200px + (340 - 200) * ((100vw - 375px) / (1400 - 375))) 0 0 0;
  }
}

.tours__head {
  margin-bottom: 100px;
}

.head__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.tours__spec {
  margin-bottom: 80px;
}

@media (min-width: 1024px) {
  .spec__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.spec__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.spec__column li {
  margin-bottom: 10px !important;
}

.spec__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: left;
}

.spec__icon {
  margin: 0px 20px 0px 0px !important;
}

@media (max-width: 425px) {
  .spec__icon {
    margin: 0px 10px 0px 0px !important;
  }
}

.spec__parametr {
  margin: 0px 20px 0px 0px !important;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 425px) {
  .spec__parametr {
    margin: 0px 10px 0px 0px !important;
  }
}

.tours__description {
  margin-bottom: 80px;
}

.tours__description_price {
  position: relative;
  z-index: 5;
  margin-bottom: 600px;
}

.tours__description_price p {
  text-align: center;
}

.tours__description_price h5 {
  text-align: center;
}

.tours__button {
  margin-top: 40px;
}

.description ul:not(:last-child) {
  margin-bottom: 20px;
}

.description__title {
  text-align: left;
  margin-bottom: 20px;
}

.description__text {
  text-align: left;
}

.description__item {
  text-align: left;
  position: relative;
  padding-left: 10px;
}

.description__item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 0;
  top: 0.6em;
  background: #33333C;
}

.tours__gallary > :not(:last-child) {
  margin-bottom: 30px;
}

.tours-gallary {
  margin-bottom: 80px;
}

.tours-gallary .swiper-slide {
  cursor: pointer;
}

.tours-gallary__slide {
  position: relative;
}

.tours-gallary__slide img {
  -webkit-filter: sepia(0.3) saturate(0.6) hue-rotate(20deg);
          filter: sepia(0.3) saturate(0.6) hue-rotate(20deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tours-gallary__slide p {
  position: absolute;
  width: 58.75%;
  min-height: 22.22%;
  top: 0;
  left: 0;
  background: #33333C;
  opacity: 0.6;
  padding: 20px;
  color: #F1F1F1;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + (22 - 12) * ((100vw - 375px) / (1400 - 375)));
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tours-gallary__slide:hover p {
  opacity: 0;
  pointer-events: none;
}

.tours-gallary__slide:hover img {
  -webkit-filter: sepia(0) saturate(1) hue-rotate(0deg);
          filter: sepia(0) saturate(1) hue-rotate(0deg);
}

.tour-footer {
  margin-top: 50px;
  position: relative;
}

.tour-footer__body {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.tour-footer__nav {
  cursor: pointer;
}

.tour-footer__nav span {
  font-size: 60px;
  color: #F1F1F1;
}

.tour-footer__contacts i {
  color: #F1F1F1;
}

.tour-footer__image {
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 0.48;
  left: 0;
  bottom: 0;
}

.tour-footer__image img {
  max-width: 100%;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-box {
  position: absolute;
  width: 100%;
  height: 350px;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.image-box__day {
  background: url(../img/tours/day-mountains-clouds.png) 0 100%/100% 95% no-repeat;
  z-index: 3;
}

.discription__day {
  position: relative;
  z-index: 2;
  padding: calc(15px + (45 - 15) * ((100vw - 375px) / (1400 - 374))) calc(20px + (50 - 20) * ((100vw - 375px) / (1400 - 374)));
  background: white;
  border: 1px solid #33333C;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.discription__day:not(:last-child) {
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1400 - 375)));
}

.day__title {
  cursor: pointer;
  text-align: left;
  color: #33333C;
}

.day__title.active {
  color: #007B88;
}

.day__content {
  display: none;
  margin-top: 50px;
  padding: 0px calc(20px + (60 - 20) * ((100vw - 375px) / (1400 - 375)));
  background: url(../img/tours/day-mountains-1-.png) 50% 100%/auto calc(700px + (700 - 700) * ((100vw - 375px) / (1400 - 375))) no-repeat;
}

@media (max-width: 512px) {
  .day__content {
    padding: 0;
  }
}

.day__spec {
  margin-bottom: 80px;
}

.day__map {
  margin-top: 20px;
}

.day__map span {
  padding: 0px 10px;
  display: inline-block;
}

.day__dishes {
  margin-bottom: 20px;
}

@media (min-width: 797px) {
  .dishes__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.dishes__column {
  margin: 0px 15px;
}

@media (max-width: 797px) {
  .dishes__column:not(:last-child) {
    margin-bottom: 10px;
  }
}

.dishes__subtitle {
  text-align: left;
}

.dishes__table {
  padding: 20px 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(49.27%, rgba(186, 231, 221, 0.7)), to(rgba(186, 231, 221, 0)));
  background: linear-gradient(180deg, rgba(186, 231, 221, 0.7) 49.27%, rgba(186, 231, 221, 0) 100%);
  border-radius: 3px;
  -webkit-backdrop-filter: blur(1.2px);
          backdrop-filter: blur(1.2px);
}

@media (max-width: 1400px) {
  .dishes__table {
    padding: calc(10px + (20 - 10) * ((100vw - 375px) / (1400 - 375))) calc(30px + (80 - 30) * ((100vw - 375px) / (1400 - 375)));
  }
}
