@import "_header";

.header-tours {

	position: relative;
}

.header__container.header-tours__container {
	position: relative;
	z-index: 10;
	padding: 100px 20px 50px;
	@media ( max-width: 1280px) {
		padding: calc(50px + (100 - 50) * ((100vw - 375px) / (1400 - 375))) 20px calc(30px + (50 - 30) * ((100vw - 375px) / (1400 - 375))) 20px;
	}
	border-bottom: 1px solid #000;	
}

.header__clouds {
	background: url(../img/tours/clouds-tours.png) 0 0 / 100% calc(50% + (100 - 50) * ((100vw - 375px) / (1400 - 375)))  no-repeat;
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 650px;
	top: 0;
	left: 0;
	pointer-events: none;
}

.page {

	&__tours {
		text-align: center;
		margin: 340px 0px 0px 0px;
		@media ( max-width: 1400px) {
			margin: calc(200px + (340 - 200) * ((100vw - 375px) / (1400 - 375))) 0 0 0;
		}
	}
}
.tours {

	&__head {
		margin-bottom: 100px;
	}
}
.head {

	&__container {
	}

	&__logo {
		display: inline-block;
		margin-bottom: 20px;
	}

	&__img {
	}

	&__title {
	}

	&__subtitle {
	}
}

.tours {

	&__spec {
		margin-bottom: 80px;
	}
}
.spec {

	&__container {
	}

	&__body {
		@media ( min-width: 1024px) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
			}

	&__column {
		flex: 1 0 50%;
		li {
			margin-bottom: 10px !important;
		}
	}

	&__list {
	}
	
	&__item {
		display: flex;
		align-items: center;
		justify-content: start;
		text-align: left;
	}

	&__icon {
		margin: 0px 20px 0px 0px !important;
		@media ( max-width: 425px) {
			margin: 0px 10px 0px 0px !important;
		}
	}

	&__img {
	}

	&__parametr {
		margin: 0px 20px 0px 0px !important;
		@media ( max-width: 425px) {
			margin: 0px 10px 0px 0px !important;
		}
		flex: 0 0 auto;
	}

	&__value {
	}
}

.tours {

	&__description {
		margin-bottom: 80px;

		&_shto-brat {

		}
		&_price {
			position: relative;
			z-index: 5;
			p {
			text-align: center;
			}
			h5 {
				text-align: center;
			}
		}
	}
	&__button {
		margin-bottom: 500px;
		@media ( max-width: 1280px) {
			margin-bottom: calc(10px + (500 - 10) * ((100vw - 375px) / (1400 - 375)));
		}
	}
}
.description {
	ul {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__container {
	}

	&__title {
		text-align: left;
		margin-bottom: 20px;
	}
	
	&__text {
		text-align: left;
	}

	&__item {
		text-align: left;
		position: relative;
		padding-left: 10px;
		&::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			left: 0;
			top: 0.6em;
			background: $main;
		}
	}
}

.tours {

	&__gallary {
		>:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

.tours-gallary {
	margin-bottom: 80px;



	&__wrapper {
	}

	&__slide {
		position: relative;
		aspect-ratio: 1 / 0.6;

		img {
			filter: sepia(0.3) saturate(0.6) hue-rotate(20deg);
			transition: 0.5s;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		p {
			position: absolute;
			width: 58.75%;
			min-height: 22.22%;
			top: 0;
			left: 0;
			background: $main;
			opacity: 0.6;
			padding: 20px;
			color: $bg;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: calc(12px + (22 - 12) * ((100vw - 375px) / (1400 - 375)));
			line-height: 100%;
			display: flex;
			align-items: center;
			text-align: center;
			transition: 0.5s;
		}
		&:hover {
			p {
				opacity: 0;
				pointer-events: none;
			}
			img {
				filter: sepia(0) saturate(1) hue-rotate(0deg);
			}
		}
	}
}

.image-box {
	position: absolute;
	width: 100%;
	height: 350px;
	left: 0;
	bottom: 0;
	pointer-events: none;

	&__day {
		background: url(../img/tours/day-mountains-clouds.png) 0 100% / 100% 95% no-repeat;
		z-index: 3;
	}
}


//====================day======================

.discription {

	&__day {
		position: relative;
		z-index: 2;
		padding: calc(15px + (45 - 15) * ((100vw - 375px) / (1400 - 374))) calc(20px + (50 - 20) * ((100vw - 375px) / (1400 - 374)));
		background: white;
		
		border: 1px solid $main;
		border-radius: 3px;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
		overflow: hidden;
		&:not(:last-child) {
			margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1400 - 375)));
		}
	}
}
.day {
	
	&__title {
		cursor: pointer;
		text-align: left;
		color: $main;
		&.active {
			color: $link;
		}
	}

	&__content {
		display: none;
		margin-top: 50px;
		padding: 0px calc(20px + (60 - 20) * ((100vw - 375px) / (1400 - 375)));
		background: url(../img/tours/day-mountains-1-.png) 50% 100% / auto calc(700px + (700 - 700) * ((100vw - 375px) / (1400 - 375))) no-repeat;
		@media ( max-width: 512px) {
			padding: 0;
		}
	}

	&__spec {
		margin-bottom: 80px;

	}

	&__map {
		margin-top: 20px;
		span {
			padding: 0px 10px;
			display: inline-block;	
		}
	}

	&__dishes {
		margin-bottom: 20px;
	}
}

.dishes {

	&__title {
		
	}

	&__body {
		@media ( min-width: 797px) {
		display: flex;
		justify-content: center;
		}

	}

	&__column {
		margin: 0px 15px;
		@media ( max-width: 797px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	&__subtitle {
		text-align: left;
	}

	&__table {
		padding: 20px 80px;
		@media ( max-width: 1400px) {
			padding: calc(10px + (20 - 10) * ((100vw - 375px) / (1400 - 375))) calc(30px + (80 - 30) * ((100vw - 375px) / (1400 - 375)));
		}	
		background: linear-gradient(180deg, rgba(186, 231, 221, 0.7) 49.27%, rgba(186, 231, 221, 0) 100%);
		border-radius: 3px;
		backdrop-filter: blur(1.2px);
	}
}
