//====================глобальные переменные======================

$ffbody: 'Montserrat', sans-serif;
$fzbody: 24px;
$main: #33333C;
$link: #007B88;
$bg-dark: #C4C4C4;
$bg: #F1F1F1;
$bg-bright: #FAFAFA;
$bg-card: #BAE7DD;

//===============================================================

@import "_null";

//====================ui/ux======================

._h1{
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 164px;
	line-height: 95%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $main;
}

._h2{
	font-family: 'Noto Serif Display', serif;
	font-weight: 700;
	font-size: 80px;
	@media ( max-width: 1280px) {
		font-size: calc(55px + (80 - 55) * ((100vw - 768px) / (1280 - 768)));
	}
	line-height: 100%;
	text-transform: capitalize;
	color: $main;
	text-shadow: 180px 80px 0px rgba(0, 0, 0, 0.05);
	@media ( max-width: 1024px) {
		text-shadow: 130px 60px 0px rgba(0, 0, 0, 0.05);
	}
	@media ( max-width: 767px) {
		text-shadow: 60px 50px 0px rgba(0, 0, 0, 0.05);
	}
}

._h3{
	font-family: 'Noto Serif Display', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 48px;
	line-height: 135.4%;
	@media ( max-width: 1280px) {
		font-size: calc(28px + (48 - 28) * ((100vw - 375px) / (1280 - 375)));
		line-height: calc(120% + (135.4 - 120) * ((100vw - 375px) / (1280 - 375)));
	}
	text-transform: capitalize;
	color: $main;
	margin-bottom: 20px;
	
}

._h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 120.8%;
	@media ( max-width: 1280px) {
		font-size: calc(18px + (24 - 18) * ((100vw - 375px) / (1280 - 375)));
		line-height: calc(110% + (120.8 - 110) * ((100vw - 375px) / (1280 - 375)));
	}	
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $main;
}

._h5{
	font-family: 'Noto Serif Display', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 40px;
	line-height: 135%;
	@media ( max-width: 1280px) {
		font-size: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
		line-height: calc(120% + (135 - 120) * ((100vw - 375px) / (1280 - 375)));
	}
	text-transform: capitalize;
	color: $main;
}

._h6{	
	font-family: 'Noto Serif Display', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 34px;
	line-height: 135.3%;
	text-transform: capitalize;
	color: $main;
}

._text {
	font-family: 'Montserrat';
	font-size: 24px;
	line-height: 125%;
	@media ( max-width: 1280px) {
		font-size: calc(19px + (24 - 19) * ((100vw - 768px) / (1280 - 768)));
		line-height: calc(122% + (125 - 122) * ((100vw - 375px) / (1280 - 375)));
	}
	letter-spacing: 0.02em;
	color: $main;
}
p._text {
	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

._text-nav{
	font-family: 'Noto Serif', serif;
	font-weight: 600;
	font-size: 24px;
	font-size: calc(17px + (24 - 17) * ((100vw - 375px) / (1400 - 375)));
	line-height: 137.5%;
	text-transform: capitalize;
	color: $main;
	transition: 0.5s;
	&:hover{
		text-shadow: 0px 20px 0px rgba(0, 0, 0, 0.05);
		color: $link;
	}
}

._text-btn{
	font-family: 'Noto Serif', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	@media ( max-width: 1280px) {
		font-size: calc(20px + (24 - 20) * ((100vw - 768px) / (1280 - 768)));;
	}
	line-height: 137.5%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

._text-bold{
	font-weight: 700;
	font-size: 24px;
	line-height: 120.8%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	@media ( max-width: 1280px) {
		font-size: calc(19px + (24 - 19) * ((100vw - 768px) / (1280 - 768)));
	}
}

._text-link{
	font-family: 'Noto Serif Display', serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 135.7%;
	letter-spacing: 0.1em;
	@media ( max-width: 1280px) {
		font-size: calc(18px + (28 - 18) * ((100vw - 375px) / (1400 - 375)));
	}
	text-transform: uppercase;
	color: $link;
}

.material-symbols-outlined {
	padding-left: 10px;
}

//====================служебные классы======================

.wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container{
	// padding: 0px 20px;

	// @media ( min-width: 767px) {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0px 20px;
	// }
}

.page{
	flex: 1 1 auto;

}

._ibg{
	position: relative;

	img{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
	}
}

//====================header======================

.header {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100px;
	&__container {
	}

	&__menu {
		@media ( max-width: 1100px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 800px;
			margin: calc(30px + (50 - 30) * ((100vw - 375px) / (1400 - 375))) auto calc(30px + (50 - 30) * ((100vw - 375px) / (1400 - 375)));
		}
		margin: calc(30px + (50 - 30) * ((100vw - 375px) / (1400 - 375))) 0;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.menu {
	
	&__icon {
		display: none;
		@media ( max-width: 1100px) {
			display: block;
			position: relative;
			z-index: 5;
			width: 40px;
			height: 30px;
			cursor: pointer;
			&::before, &::after, span {
				position: absolute;
				overflow: hidden;
				width: 100%;
				height: 10%;
				left: 0;
				border-radius: 3px;
				background: $main;
				transition: all 0.5s;
			}
			&._active::before, &._active::after {
				background: $bg;
			}

			&._active span {
				opacity: 0;
			}

			&::before, &::after {
				content: '';
			}
			&::before {
				top: 0;
			}
			&._active::before {
				transform: rotate(45deg);
			}
			&._active::after {
				transform: rotate(-45deg);
			}
			&::after {
				bottom: 0;
			}
			span {
				top: 50%;
				transform: scale(1) translate(0, -50%);
			}
		}
	}
	
	&__body {
		@media ( min-width: 1100px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}

		* {
			white-space: nowrap;
		}
	}

	&__list {
		order: 1;
		@media ( max-width: 1100px) {
			display: none !important;
		}

		&_2 {
			order: 3;
		}
	}

	&__item {
		&:not(:last-child) {
			padding: 0 calc(20px + (40 - 20) * ((100vw - 982px) / (1400 - 982))) 0 0;
		}
	}

	&__link {
	}

	&__contacts {
		order: 2;
	}
}
.contacts {

	&__list {
	}

	&__item {
		&:not(:last-child) {
			padding: 0 calc(15px + (25 - 15) * ((100vw - 375px) / (1400 - 375))) 0 0;
		}
	}

	&__link {
		&_phone {
			i {
				font-size: calc(30px + (44 - 32) * ((100vw - 375px) / (1400 - 375))) !important;
				transform: translate(4px, 0);
				&:hover {
					transform: translate(4px, 0) scale(1.1, 1.1) !important;
				}
			}
		}
		i {
			font-size: calc(32px + (46 - 32) * ((100vw - 375px) / (1400 - 375)));
			color: $main;
			vertical-align: middle;
			transition: 0.5s;

			&:hover {
				color: $link;
				transform: scale(1.1, 1.1);
			}
		}
	}
}

.menu-small {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 60vw;
	height: 100vh;
	left: 0;
	top: 0;
	background: $main;
	opacity: 0.98;
	transform: translate(-150%, 0);
	transition: 0.5s;
	&._active {
		transform: translate(0, 0);
	}
	

	&__logo {
		max-width: 120px;
		margin-bottom: 30px;
		img {
			max-width: 100%;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		li {
			padding: 30px 0px;
			border-bottom: 1px solid $bg;
		}
	}
	
	&__item {
		a {
			display: block;
			width: 45vw;

		}
	}
}
.menu {

	&__link {

		&_small {
			color: $bg;
			font-weight: 400;
		}
	}
}



//====================main-block==================

.page {

	&__first {
		padding: 190px 0px 100px 0px;
		@media ( max-width: 1280px) {
			padding-top: calc(120px + (190 - 120) * ((100vw - 375px) / (1280 - 375)));
			padding-bottom: calc(70px + (100 - 70) * ((100vw - 768px) / (1280 - 768)));
		}
		position: relative;

	}
}
.first {

	
	&__body {
		
	}

	&__title {
		position: relative;
		z-index: 3;
		display: flex;
		@media ( max-width: 768px) {
			flex-wrap: wrap;
		}
		justify-content: center;
		align-items: center;
		max-width: 1075px;
		margin: 0 auto 50px;
		padding: 0px 20px;
	}
	
	&__logo {
		min-width: 365px;
		margin: 0px 20px;
		@media ( max-width: 1280px) {
			min-width: calc(255px + (365 - 255) * ((100vw - 375px) / (1280 - 375)));
			margin: 0 0 20px 0;
		}
		@media ( max-width: 580px) {
			max-width: 300px;
		}
		@media ( max-width: 424px) {
			max-width: 285px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__text {
		flex: 0 1 auto;
		font-weight: 500;
		font-size: 164px;
		@media ( max-width: 1280px) {
			font-size: calc(92px + (164 - 92) * ((100vw - 375px) / (1280 - 375)));
		}
		line-height: 95%;
		text-align: center;
		letter-spacing: 0.1em;
		@media ( max-width: 1280px) {
			letter-spacing: calc(0em + (0.1 - 0) * ((100vw - 768px) / (1280 - 768)));
		}
		text-transform: uppercase;
		color: $main;
		
	}
	
	&__utp-slider {
		position: relative;
		z-index: 2;
		text-align: center;
		margin-bottom: 50px;
		margin-top: -92px;
		font-family: 'Noto Serif', serif;
		font-weight: 400;
		font-size: 35px;
		@media ( max-width: 1280px) {
			font-size: calc(16px + (35 - 16) * ((100vw - 375px) / (1280 - 375)));
		}
		line-height: 137%;
		text-align: center;
		text-transform: uppercase;
		color: $main;
		background: #ffffff59;
		padding: 94px 0px 40px 0px;
	}
	
	&__button {
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 100;
		a{
			position: relative;
			padding: 27px 43px 27px 43px;
			background: rgba(255, 255, 255, 0.4);
			border: 4px solid #FFFFFF;
			box-sizing: border-box;
			backdrop-filter: blur(3px);
			border-radius: 3px;
			color: $main;
			transition: 0.5s ease-in-out;
			span {
				font-size: 32px;
				vertical-align: middle;
				transform: translate(0, -2px);
				padding: 0px 0px 0px 10px;
				color: $main;
				transition: 0.5s ease-in-out;
			}
			&:hover{
				color: $bg;
				border: 4px solid $link;
				background: $link;
				transform: translateY(5px);
				span {
					color: $bg;
					transform: translate(5px, -2px);
				}
			}

		}
	}
	
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		
	}
}

.clouds {
	background: url(../img/first/clouds-main.png) 50% 0/cover no-repeat;
	pointer-events: none;
	
	&__first {
		position: absolute;
		z-index: 20;
		width: 100%;
		height: 507px;
		left: 0;
		bottom: 0;
		transform: translateY(50%);
	}
}

//====================лирика-один======================

.page {

	&__lirics {
		margin: 150px auto;
		@media ( max-width: 1280px) {
			margin: calc(50px + (150 - 50) * ((100vw - 375px) / (1280 - 375))) auto;
		}
		@media ( max-width: 767px) {
			margin: 50px auto;
		}

}
.lirics {
	position: relative;
	z-index: 50;
	p{
		font-family: 'Noto Serif', serif;
		font-size: 48px;
		@media ( max-width: 1280px) {
			font-size: calc(35px + (48 - 35) * ((100vw - 768px) / (1280 - 768)));
		}
		line-height: 135.4%;
		text-align: center;

	}
	span{
		font-family: 'Noto Serif Display', serif;
		font-style: italic;
		font-weight: 700;
	}
}
}

//====================best======================

.page {

	&__best {
		padding: 150px 0px;
		@media ( max-width: 1280px) {
			padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1280 - 375))) 0;
		}

	}
}
.best {

	&__one-page {
		margin-bottom: 100px;
		@media ( max-width: 767px) {
			margin-bottom: 50px;
		}
	}
}
.one-page {
	&__clouds {
		background: url(../img/best/best-clouds.png) 50% 1%/contain no-repeat;
		@media ( max-width: 940px) {
			background: url(../img/best/best-clouds.png) -130% 50%/contain no-repeat;
		}
	}
	&__row-1 {
		@media ( min-width: 767px) {
			display: flex;
		}
	margin-bottom: 50px;
	@media ( max-width: 767px) {
		margin-bottom: 20px;
	}
	}

	&__content {
		flex: 0 0 100%;
		@media ( max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__container {

	}

	&__body {
		@media ( min-width: 767px) {
			width: 50%;
		}
		padding: 150px 100px 0 0;
		@media (min-width: 767px) and ( max-width: 1280px) {
			padding: calc(75px + (150 - 75) * ((100vw - 768px) / (1280 - 768))) calc(50px + (100 - 50) * ((100vw - 768px) / (1280 - 768))) 0 0;
		}
		@media ( max-width: 767px) {
			padding: 0;
		}
	}
	
	&__title {
		position: relative;
		z-index: 100;
		white-space: nowrap;
		@media ( max-width: 510px) {
			white-space: normal;
		}
		margin-bottom: 100px;
		@media ( max-width: 1280px) {
			margin-bottom: calc(35px + (100 - 35) * ((100vw - 375px) / (1280 - 375)));
		}

	}

	&__subtitle {
	}

	&__image {
		@media ( max-width: 767px) {
			margin: 0px 20px;
			height: 90vh;
		}
		@media ( min-width: 767px) {
			position: relative;
			flex: 0 0 50%;
			transform: translate(-100%, 0px);
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		@media ( min-width: 767px) {
		max-width: 100%;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		}
	}

}

.one-page {

	&__container-2 {
		@media ( min-width: 767px) {
			display: flex;
			align-items: end;
		}
	}

	&__image-2 {
		width: 100%;
		@media ( max-width: 767px) {
			height: 90vh;
			margin-bottom: 20px;
		}
		@media ( min-width: 767px) {
			flex: 1 0 50%;
			height: 100%;
		}
	}

	&__img-2 {
		width: 100%;
		height: 100%;
		object-fit: cover;
		@media ( min-width: 767px) {
		width: 100%;
		height: 100%;
		object-fit: cover;
		}
	}

	&__content-2 {
		@media ( min-width: 767px) {
		}

		@media ( min-width: 767px) {
			padding-left: calc(50px + (100 - 50) * ((100vw - 768px) / (1280 - 768)));
		}
	}
}

.best {

	&__two-page {

	}
}
.two-page {

	&__clouds {
		background: url(../img/best/best-clouds.png) -10% 40%/70% auto no-repeat;
	}

	&__row1 {
		@media ( min-width: 767px) {
			display: flex;
		}
		.two-page__content {	
			flex: 0 0 100%;
		}
		.two-page__image {
			@media ( min-width: 767px) {
				flex: 0 0 50%;
				transform: translate(-100%, 0);
				position: relative;
				margin: 0 0 20px 0;
			}
			@media ( max-width: 767px) {
				margin: 20px;
			}
		}
	
		.two-page__img {
			max-width: 100%;
			@media ( min-width: 767px) {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				object-fit: cover;
			}
		}
	}


	&__container {
	}

	&__body {
		@media ( min-width: 767px) {
			width: 50%;
		}
		padding: 0 100px 0 0;
		@media (min-width: 767px) and ( max-width: 1280px) {
			padding: 0 calc(50px + (100 - 50) * ((100vw - 768px) / (1280 - 768))) 0 0;
		}
		@media ( max-width: 767px) {
			padding: 0;
		}
	}

	&__title {
	}


	&__row2 {
		background: url(../img/best/best-clouds.png) 50% 0/100% auto no-repeat;
		margin: 0 0 20px 0;
	}

	&__row3 {

		.two-page__container {
			@media ( min-width: 767px) {
				display: flex;
				justify-content: space-between;
				max-width: 1430px;
				padding: 0px 5px;
			}
		}

		.two-page__image {
			position: relative;
			aspect-ratio: 4 / 3;
			@media ( min-width: 767px) {
				flex: 1 1 auto;
				margin: 0px 15px;
			}
			@media ( max-width: 767px) {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
		.two-page__img {
			max-width: 100%;
			@media ( min-width: 767px) {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				object-fit: cover;
			}
		}
	}
}


//====================gallary======================

.page {

	&__gallary {
		padding: 150px 0px 150px 0px;
		@media ( max-width: 1360px) {
			padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
		}
	}
}
.gallary {

	&__title {
		position: relative;
		z-index: 50;
		padding: 0 0 100px 0;
		@media ( max-width: 1280px) {
			padding: 0 20px calc(35px + (100 - 35) * ((100vw - 375px) / (1280 - 375))) 20px;
		}
	}
}

.gallary-slider {
	:not(:last-child) {
		margin-bottom: 15px;
	}

	&__wrapper {
	}

	&__slide {
		aspect-ratio: 1.78;
	}
	
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.swiper-slide {
		cursor: pointer;
	}
}

//====================catalog======================

.page__catalog {
	
}

.catalog {
	padding: 150px 0px 150px 0px;
		@media ( max-width: 1360px) {
			padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
		}
	background: white;
	&__title {
		margin-bottom: 100px;
		h2 {
		display: inline-block;
			@media ( min-width: 768px) {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 2px;
					left: 107%;
					top: 50%;
					background: $main;
				}
			}
		}
	}
	
	&__block {

	}
}

.cataloge-header__container {
	@media ( min-width: 992px) {
		display: flex;
	}
	margin-bottom: 40px;
}

.catalog {

	&__navigation {
		flex: 0 1 40%;
		display: flex;
		justify-content: end;
		align-items: center;
		padding: 0 80px 0 0;
		@media ( max-width: 992px) {
			justify-content: center;
			padding: 0;
		}

		span {
			font-size: 54px;
			font-weight: 300;
			cursor: pointer;
			color: $main;
			transition: 0.5s;
			&:hover {
				color: $link;
			}
		}
	}

	&__prev {
		span {
			transform: rotate(180deg);
			&:hover {
				transform: rotate(180deg) translate(3px, 0);
			}
		}
	}

	&__bullets {
		flex: 0 0 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $bg-dark;
		}
		.swiper-pagination-bullet-active {
			width: 12px;
			height: 12px;
			background-color: $main;
		}
	}

	&__next {
		span {
			&:hover {
				transform: translate(3px, 0);
			}
		}
	}
}

.cataloge-header__content {
	flex: 1 0 50%;
}

.catalog-header {
	text-align: center;
	@media ( min-width: 992px) {
		text-align: right;
	}

	&__title {
		
	}

	&__subtitle {
	}
}
.cataloge {

	&__content {
		@media ( min-width: 992px) {
			display: flex;
		}
	}
	
	&__image {
		flex: 0 0 50%;
		@media ( max-width: 992px) {
			margin-bottom: 20px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	&__subject {
		@media ( min-width: 992px) {
			flex: 0 0 100%;
			transform: translate(-50%, 0);
		}
	}
}
.subject {

	&__body {
		@media ( min-width: 992px) {
			max-width: 50%;
			margin-left: auto;
			padding: 0 0 150px 50px;
		}
	}

	&__more {
		display: inline-block;
		margin-bottom: 80px;
		@media ( max-width: 1360px) {
			margin-bottom: calc(30px + (80 - 30) * ((100vw - 375px) / (1400 - 375)));
		}
		transition: 0.5s;
		border-bottom: 2px #007a8800 solid;
		&:hover {
			color: $main;
			border-bottom: 2px $main solid;
		}
	}

	&__items {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media ( max-width: 1360px) {
			&:not(:last-child) {
				margin-bottom: calc(5px + (20 - 5) * ((100vw - 375px) / (1400 - 375)));
			}
		}
		span {
			padding-left: 10px;
		}
	}
	
	&__button {
		margin-bottom: 40px;
		@media ( max-width: 1360px) {
			margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1400 - 375)));
		}
	}
}

.subject-list {
	margin-bottom: 80px;
	@media ( max-width: 1360px) {
		margin-bottom: calc(30px + (80 - 30) * ((100vw - 375px) / (1400 - 375)));
	}
}
.button-2 {
	a {
		// display: inline-block;
		padding: 28px 45px;
		@media ( max-width: 1360px) {
			padding: calc(15px + (28 - 15) * ((100vw - 375px) / (1400 - 375))) calc(25px + (45 - 25) * ((100vw - 375px) / (1400 - 375)));
		}
		@media ( max-width: 440px) {
			width: 100%;
			text-align: center;
		}
		background: $link;
		border-radius: 3px;
		border: 2px $link solid;
		transition: 0.5s;
		&:hover {
			background: $bg;
			border: 2px $main solid;
			color: $main;
			span {
				color: $main;
			}
		}
	}
	
	* {
		color: $bg;
		vertical-align: middle;
		line-height: 100%;
	}
	span {
		transform: translate(0, -2px);
		font-size: 30px;
		transition: 0.5s;
	}
	
}

.subject-price {
	span {
		padding-left: 10px;
	}
}

//====================форма отправки на главной======================

.form {
	padding: 150px 0px 150px 0px;
		@media ( max-width: 1360px) {
			padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
		}
	display: flex;
	align-items: center;
	position: relative;

	

	&__content {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 2px;
			height: 100%;
			right: 0;
			top: 0;
			background: $main;
		}
	}

	&__title {
		position: relative;
		padding: 80px 30px 20px 0px;
		margin-bottom: 50px;
		p {
			text-align: left !important;
		}
		&::after {
			content: '';
			position: absolute;
			width: 95%;
			height: 2px;
			left: 0;
			bottom: 0;
			background: $main;
		}
		&::before {
			content: '';
			position: absolute;
			width: 14px;
			height: 14px;
			left: 95%;
			bottom: 0;
			border-top: $main 2px solid;
			border-right: $main 2px solid;
			transform: translate(-106%, 40%) rotate(45deg);
		}
	}

	&__contacts {

	}

	&__body {
		flex: 0 0 60%;
		margin: 0px 0px 40px 30px;
		&::after {
			content: '';
			position: absolute;
			z-index: 150;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: url(/img/atom-animation-loader.gif) center / cover no-repeat;
			background-blend-mode: normal;
			opacity: 0;
			visibility: hidden;
			transition: 0.5s;
		}
	
		&._sending::after {
			opacity: 0.9;
			visibility: visible;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__label {
	}

	&__input {
		width: 100%;
		height: 50px;
		background: $bg;
		border-bottom: $main 2px solid;
		padding-left: 15px;
	}

	&__input._error {
		box-shadow: 0 0 15px red;
	}	

	&__button {
		
			display: inline-block;
			padding: 28px 45px;
			min-width: 440px;
			margin: 0 auto;
			@media ( max-width: 1360px) {
				padding: calc(15px + (28 - 15) * ((100vw - 375px) / (1400 - 375))) calc(25px + (45 - 25) * ((100vw - 375px) / (1400 - 375)));
			}
			@media ( max-width: 440px) {
				width: 100%;
			}
			background: $link;
			color: $bg;
			border-radius: 3px;
			border: 2px $link solid;
			transition: 0.5s;
			&:hover {
				background: $bg;
				border: 2px $main solid;
				color: $main;
				span {
					color: $main;
				}
			}
		
		* {
			color: $bg;
			vertical-align: middle;
			line-height: 100%;
		}
		span {
			transform: translate(0, -2px);
			font-size: 30px;
			transition: 0.5s;
		}
	}
}

textarea.form__input {
	resize: vertical;
}

.contacts {

	&__text {
		margin-bottom: 20px;
	}

	&__list {
	}

	&__item_bright {
		i {
		color: $link;
		transition: 0.5s;
		&:hover {
			color: $main;
		}
		}
	}

	&__link {

		&_phone {
		}
	}
}

.checkbox {

	span {
	color: $main;
	}
	&__input._error {
		box-shadow: 0 0 15px red;
	}

	&__label {
		
	}
}

//====================команда======================

.page {

	&__team {
	padding: 150px 0px 150px 0px;
		@media ( max-width: 1360px) {
			padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
		}
	}
}
.team {

	&__title {
		margin-bottom: 100px;
		@media ( max-width: 1280px) {
			margin-bottom: calc(30px + (100 - 30) * ((100vw - 375px) / (1400 - 375)));
		}
		text-align: right;
		text-shadow: -180px 80px 0px rgba(0, 0, 0, 0.05);
		@media ( max-width: 1024px) {
			text-shadow: -130px 60px 0px rgba(0, 0, 0, 0.05);
		}
		@media ( max-width: 767px) {
			text-shadow: -60px 50px 0px rgba(0, 0, 0, 0.05);
		}
	}

	&__bg {
		position: relative;
		p {
		pointer-events: none;
		word-break: break-word;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 100px;
		top: 0px;

		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 520px;
		@media ( max-width: 1360px) {
			font-size: calc(250px + (490 - 250) * ((100vw - 375px) / (1400 - 375)));
		}
		line-height: 670px;
		display: flex;
		align-items: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.1);
		}
	}

	&__head {
		@media ( min-width: 992px) {
			display: flex;
			align-items: center;
			.team__column {
				&:last-child{
					padding-right: 200px;
					@media ( max-width: 1280px) {
						padding-right: calc(10px + (200 - 10) * ((100vw - 375px) / (1400 - 375)));
					}
				}
			}
		}
		margin-bottom: 50px;
		@media ( max-width: 992px) {
			.team__column {
				display: flex;
				justify-content: center;
			}
		}
	}

	&__column {

	}

	&__avatar {

	}

	&__body {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.team__column {
			margin: 0 15px 20px;
		}
	}
}

.team__column_bg {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border-radius: 50%;
		background: $bg-dark;
		transform: translate(10px, -10px);
	}
}

.avatar {
	position: relative;
	width: 350px;
	height: 350px;
	@media ( max-width: 1280px) {
		width: calc(220px + (350 - 220) * ((100vw - 375px) / (1400 - 375)));
		height: calc(220px + (350 - 220) * ((100vw - 375px) / (1400 - 375)));
	}
	border-radius: 50%;
	overflow: hidden;
	&:hover {
		.avatar__content {
			opacity: 1;
			pointer-events: visible;
		}
	}

	&__content {
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $bg-bright;
		background: linear-gradient(0deg, rgba(0, 123, 136, 0.7), rgba(0, 123, 136, 0.7));
		opacity: 0;
		pointer-events: none;
		transition: 0.5s;
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		filter: grayscale(100%);
	}
}

.team__avatar_bg {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: 1000%;
		height: 100%;
		left: 50%;
		top: 0;
		background: white;
	}
}

.team {

	&__bottom {
		img {
			max-width: 100%;
		}
	}
}

.team {

	&__cta {
	}
}
.cta {

	&__content {
		text-align: center;
		margin-bottom: 40px;
	}

	&__contacts {
		@media ( min-width: 992px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__list {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}

}

.cta {

	&__button {
	}
}
.button-3 {

}

//====================материальная база======================

.page {

	&__base {
	padding: 150px 0px 150px 0px;
		@media ( max-width: 1360px) {
		padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0 calc(50px + (150 - 50) * ((100vw - 375px) / (1400 - 375))) 0;
		}
	}
}
.base {

	&__container {
	}

	&__title {
		margin-bottom: 100px;
		@media ( max-width: 1280px) {
			margin-bottom: calc(30px + (100 - 30) * ((100vw - 375px) / (1400 - 375)));
		}
	}

	&__avto-1 {
	}
}

.avto-1 {

	&__title {
		margin-bottom: 40px;
		@media ( max-width: 1280px) {
			margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1400 - 375)));
		}
	}

	&__subtitle {
		margin-bottom: 20px;
		@media ( max-width: 1280px) {
			margin-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (1400 - 375)));
		}
	}

	&__items {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
	}

	&__item {
		position: relative;
		padding: 0px 0px 40% 0px;
		transition: 0.5s;

		&:hover {
			.avto-1__content {
				opacity: 1;
				pointer-events: visible;
			}
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}

		&_full {
			grid-column: span 3;
			grid-row: span 2;
		}

		&_long {
			grid-column: span 2;
			grid-row: span 1;
		}
	}

	&__img {
	}

	&__content {
		position: absolute;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		padding: 20px 30px;
		color: $main;
		background: linear-gradient(0deg, rgba(186, 231, 221, 0.7), rgba(186, 231, 221, 0.7));
		background-blend-mode: screen, normal;
		opacity: 0;
		pointer-events: none;
		transition: 0.5s;
	}
}



//====================слайдеры======================

// общее для слайдеров

.slick-track {
	display: flex;
}

.slick-list {
	overflow: hidden;
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
	@media ( max-width: 768px) {
		width: 85%;
	}
}

// слайдер главный экран

.first__utp-slider {
	position: relative;

	.slick-arrow {
		@media ( max-width: 767px) {
			display: none;
		}
			position: absolute;
			top: 50%;
			font-size: 0;
			z-index: 10;
			width: 71px;
			height: 60px;
			@media ( max-width: 1280px) {
				width: calc(40px + (71 - 40) * ((100vw - 768px) / (1400 - 768)));
				height: calc(40px + (71 - 40) * ((100vw - 768px) / (1400 - 768)));
			}
			opacity: 0.8;
			@media ( max-width: 768px) {
				display: none;
			}
		
	}

	.slick-arrow.slick-prev {
		cursor: pointer;
		left: 100px;
		@media ( max-width: 1400px) {
			left: calc(50px + (100 - 50) * ((100vw - 768px) / (1400 - 768)));
		}
		background: url(../img/first/Union.svg) 0 0 / 100% no-repeat;
		transform: translateY(-50%);
		transition: left 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		&:hover{
			left: calc((50px + (100 - 50) * ((100vw - 768px) / (1400 - 768))) - 17px);
		}
	}
	
	.slick-arrow.slick-next {
		cursor: pointer;
		right: 110px;
		@media ( max-width: 1400px) {
			right: calc(50px + (100 - 50) * ((100vw - 768px) / (1400 - 768)));
		}
			background: url(../img/first/Union.svg) 0 0 / 100% no-repeat;
			transform: scale(-1, 1) translateY(-50%);
			transition: right 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		&:hover{
			right: calc((50px + (100 - 50) * ((100vw - 768px) / (1400 - 768))) - 17px);
		}
	}	

	/* Точки (булиты) */

	.slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.8;
		
		button {
			margin-right: 10px;
			font-size: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #FFFFFF;
			transition: 1s;
		}

		.slick-active button {
			background: $main;
			width: 14px;
			height: 14px;
		}
	}
	
	
	/* Активная точка */
	.slick-dots li.slick-active {

	}
}


//====================footer======================

.footer {
	
	&__image {
		position: absolute;
		img {
			max-width: 100%;
			object-fit: contain;
			object-position: bottom;
		}
	}
	
	&__container {

	}

	&__body {
		position: relative;
		z-index: 5;
		margin-bottom: 50px;
		a {
			color: $bg;
		}

	}

	&__logo {
		text-align: center;
		margin-bottom: 40px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__column {
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__contacts {
		
	}

	&__menu {
		display: flex;
	}

	&__item {
	}
}

.contacts__item_grey {
	i {
		color: $bg-dark
	}
}

//==========================================
@import "_tours";