//====================глобальные переменные======================

$ffbody: 'Montserrat', sans-serif;
$fzbody: 24px;
$main: #33333C;
$link: #007B88;
$bg-dark: #C4C4C4;
$bg: #F1F1F1;
$bg-bright: #FAFAFA;
$bg-card: #BAE7DD;

//===============================================================

@import "_null";

//====================ui/ux======================

._h1{
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 164px;
	line-height: 95%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $main;
}

._h2{
	font-family: 'Noto Serif Display', serif;
	font-weight: 700;
	font-size: 80px;
	@media ( max-width: 1280px) {
		font-size: calc(55px + (80 - 55) * ((100vw - 768px) / (1280 - 768)));
	}
	line-height: 100%;
	text-transform: capitalize;
	color: $main;
	text-shadow: 180px 80px 0px rgba(0, 0, 0, 0.05);
	@media ( max-width: 1024px) {
		text-shadow: 130px 60px 0px rgba(0, 0, 0, 0.05);
	}
	@media ( max-width: 768px) {
		text-shadow: 60px 50px 0px rgba(0, 0, 0, 0.05);
	}
}

._h3{
	font-family: 'Noto Serif Display', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 48px;
	line-height: 135.4%;
	@media ( max-width: 1280px) {
		font-size: calc(28px + (48 - 28) * ((100vw - 375px) / (1280 - 375)));
		line-height: calc(120% + (135.4 - 120) * ((100vw - 768px) / (1280 - 768)));
	}
	text-transform: capitalize;
	color: $main;
	margin-bottom: 20px;
	
}

._h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 120.8%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $main;
}

._h5{
	font-family: 'Noto Serif Display', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 40px;
	line-height: 135%;
	text-transform: capitalize;
	color: $main;
}

._h6{	
	font-family: 'Noto Serif Display', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 34px;
	line-height: 135.3%;
	text-transform: capitalize;
	color: $main;
}

._text {
	font-family: 'Montserrat';
	font-size: 24px;
	line-height: 125%;
	@media ( max-width: 1280px) {
		font-size: calc(19px + (24 - 19) * ((100vw - 768px) / (1280 - 768)));
		line-height: calc(122% + (125 - 122) * ((100vw - 375px) / (1280 - 375)));
	}
	letter-spacing: 0.02em;
	color: $main;
}
p._text {
	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

._text-nav{
	font-family: 'Noto Serif', serif;
	font-weight: 600;
	font-size: 24px;
	@media ( max-width: 1360px) {
		font-size: calc(20px + (24 - 19) * ((100vw - 1024px) / (1360 - 1024)));
	}
	line-height: 137.5%;
	text-transform: capitalize;
	color: $main;
	transition: 0.5s;
	&:hover{
		text-shadow: 0px 20px 0px rgba(0, 0, 0, 0.05);
		color: $link;
	}
}

._text-btn{
	font-family: 'Noto Serif', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	@media ( max-width: 1280px) {
		font-size: calc(20px + (24 - 20) * ((100vw - 768px) / (1280 - 768)));;
	}
	line-height: 137.5%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

._text-bold{
	font-weight: 700;
	font-size: 24px;
	line-height: 120.8%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	@media ( max-width: 1280px) {
		font-size: calc(19px + (24 - 19) * ((100vw - 768px) / (1280 - 768)));
	}
}

._text-link{
	font-family: 'Noto Serif Display', serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 135.7%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $link;
}

//====================служебные классы======================

.wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container{
	padding: 0px 20px;

	@media ( min-width: 767px) {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0px 20px;
	}
}

.page{
	flex: 1 1 auto;

}

._ibg{
	position: relative;

	img{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
	}
}

//====================header======================

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	&__container {
	}

	&__menu {
		// margin: 50px 0px;
		margin-top: calc(25px + (50 - 25) * ((100vw - 768px) / (1400 - 768)));
		margin-bottom: calc(25px + (50 - 25) * ((100vw - 768px) / (1400 - 768)));
	}
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	&__nav {
	}

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
		margin-right: 40px;
		}
	}

	&__link {
		white-space: nowrap;
	}

}
.contacts {

	&__list {
		display: flex;
		align-items: center;
		margin: 0px 40px;
		min-height: 100%;
	}

	&__item {

		&:not(:last-child) {
		margin-right: 20px;
		}
		transition: 0.5s;
		&:hover{
			transform: scale(1.15, 1.15) translateY(5px);
		}
	}

	&__link {
		img {
		width: 40px;
		@media ( max-width: 1360px) {
			width: calc(35px + (40 - 35) * ((100vw - 1024px) / (1360 - 1040)));
		}
		height: 40px;
	}
	}
}

//====================main-block==================

.page {

	&__first {
		padding: 190px 0px 100px 0px;
		@media ( max-width: 1280px) {
			padding-top: calc(120px + (190 - 120) * ((100vw - 768px) / (1280 - 768)));
			padding-bottom: calc(70px + (100 - 70) * ((100vw - 768px) / (1280 - 768)));
		}
		position: relative;

	}
}
.first {

	
	&__body {
		// position: relative;
		// z-index: 2;
		
	}

	&__title {
		position: relative;
		z-index: 5;
		display: flex;
		@media ( max-width: 767px) {
			flex-wrap: wrap;
		}
		justify-content: center;
		align-items: center;
		max-width: 1075px;
		margin: 0 auto 50px;
		padding: 0px 20px;
	}
	
	&__logo {
		min-width: 365px;
		padding: 0px 20px;
		@media ( max-width: 1280px) {
			min-width: calc(265px + (365 - 265) * ((100vw - 768px) / (1280 - 768)));
		}
		@media ( max-width: 767px) {
			margin-bottom: 20px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__text {
		flex: 0 1 auto;
		font-weight: 500;
		font-size: 164px;
		@media ( max-width: 1280px) {
			font-size: calc(92px + (164 - 92) * ((100vw - 375px) / (1280 - 375)));
		}
		line-height: 95%;
		text-align: center;
		letter-spacing: 0.1em;
		@media ( max-width: 1280px) {
			letter-spacing: calc(0em + (0.1 - 0) * ((100vw - 768px) / (1280 - 768)));
		}
		text-transform: uppercase;
		color: $main;
		
	}
	
	&__utp-slider {
		position: relative;
		z-index: 3;
		text-align: center;
		margin-bottom: 50px;
		margin-top: -92px;
		font-family: 'Noto Serif', serif;
		font-weight: 400;
		font-size: 35px;
		@media ( max-width: 1280px) {
			font-size: calc(16px + (35 - 16) * ((100vw - 375px) / (1280 - 375)));
		}
		line-height: 137%;
		text-align: center;
		text-transform: uppercase;
		color: $main;
		background: #ffffff59;
		padding: 94px 0px 40px 0px;
	}
	
	&__button {
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 100;
		a{
			position: relative;
			padding: 27px 80px 27px 43px;
			background: rgba(255, 255, 255, 0.4);
			border: 4px solid #FFFFFF;
			box-sizing: border-box;
			backdrop-filter: blur(3px);
			border-radius: 3px;
			color: $main;
			transition: 0.5s ease-in-out;
			&::after{
				content: '';
				background: url(/img/first/arrow_forward.svg) no-repeat;
				position: absolute;
				width: 100%;
				height: 100%;
				right: 1;
				top: 50%;
				transform: translateY(-12px) translateX(10px);

			}
			&:hover{
				color: $bg;
				border: 4px solid $link;
				background: $link;
				transform: translateY(5px);
			}

		}
	}
	
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		
	}
}

.clouds {
	background: url(/img/first/clouds-main.png) 50% 0/cover no-repeat;
	pointer-events: none;
	
	&__first {
		position: absolute;
		z-index: 20;
		width: 100%;
		height: 507px;
		left: 0;
		bottom: 0;
		transform: translateY(50%);
	}
}

//====================лирика-один======================

.page {

	&__lirics {
		margin: 150px 0;
		@media ( max-width: 1280px) {
			margin: calc(50px + (150 - 50) * ((100vw - 375px) / (1280 - 375))) 0;
		}
		@media ( max-width: 767px) {
			margin: 50px 0px;
		}

}
.lirics {
	position: relative;
	z-index: 50;
	p{
		font-family: 'Noto Serif', serif;
		font-size: 48px;
		@media ( max-width: 1280px) {
			font-size: calc(35px + (48 - 35) * ((100vw - 768px) / (1280 - 768)));
		}
		line-height: 135.4%;
		text-align: center;

	}
	span{
		font-family: 'Noto Serif Display', serif;
		font-style: italic;
		font-weight: 700;
	}
}
}

//====================best======================

.page {

	&__best {
		padding: 150px 0px;
		@media ( max-width: 1280px) {
			padding: calc(50px + (150 - 50) * ((100vw - 375px) / (1280 - 375))) 0;
		}
		@media ( max-width: 767px) {
			padding: 50px 0px;
		}

	}
}
.best {

	&__one-page {
		margin-bottom: 100px;
	}
}
.one-page {
	&__row-1 {
		@media ( min-width: 767px) {
			display: flex;
		}
	margin-bottom: 50px;
	}

	&__content {
		flex: 0 0 100%;
		@media ( max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__container {

	}

	&__body {
		@media ( min-width: 767px) {
			width: 50%;
		}
		padding: 150px 100px 0 0;
		@media (min-width: 767px) and ( max-width: 1280px) {
			padding: calc(75px + (150 - 75) * ((100vw - 768px) / (1280 - 768))) calc(50px + (100 - 50) * ((100vw - 768px) / (1280 - 768))) 0 0;
		}
		@media ( max-width: 767px) {
			padding: 0;
		}
	}
	
	&__title {
		position: relative;
		z-index: 100;
		white-space: nowrap;
		@media ( max-width: 510px) {
			white-space: normal;
		}
		margin-bottom: 100px;
		@media ( max-width: 1280px) {
			margin-bottom: calc(35px + (100 - 35) * ((100vw - 375px) / (1280 - 375)));
		}

	}

	&__subtitle {
	}

	&__image {
		@media ( max-width: 767px) {
			margin: 0px 20px;
			height: 90vh;
		}
		@media ( min-width: 767px) {
			position: relative;
			flex: 0 0 50%;
			transform: translate(-100%, 0px);
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		@media ( min-width: 767px) {
		max-width: 100%;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		}
	}

}

.one-page {

	&__container-2 {
		@media ( min-width: 767px) {
			display: flex;
			align-items: end;
		}
	}

	&__image-2 {
		width: 100%;
		@media ( max-width: 767px) {
			height: 90vh;
			margin-bottom: 20px;
		}
		@media ( min-width: 767px) {
			flex: 1 0 50%;
			height: 100%;
		}
	}

	&__img-2 {
		width: 100%;
		height: 100%;
		object-fit: cover;
		@media ( min-width: 767px) {
		width: 100%;
		height: 100%;
		object-fit: cover;
		}
	}

	&__content-2 {
		@media ( min-width: 767px) {
		}

		@media ( min-width: 767px) {
			padding-left: calc(50px + (100 - 50) * ((100vw - 768px) / (1280 - 768)));
		}
	}
}

.best {

	&__two-page {
		
	}
}
.two-page {

	&__clouds {
	}

	&__row1 {
	}

	&__content {	
	}

	&__container {
	}

	&__body {
	}

	&__title {
	}

	&__image {
	}

	&__img {
	}

	&__row2 {
	}

	&__row3 {
	}
}


// .best {

// 	&__raw--3 {
		
// 	}
// }
// .raw--3 {

// 	&__body {
// 		margin-bottom: 50px;
// 	}

// 	&__title {
// 	}

// 	&__gallary {
// 	}
// }

// .gallary {
	
// 	&__items {
// 		display: grid;
// 		gap: 30px;
// 		grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
// 	}

// 	&__item {
// 		position: relative;
// 		padding: 0px 0px 85% 0px;
// 		&:nth-child(odd) {
// 			margin-top: 100px;
// 		}
// 		img {
// 			position: absolute;
// 			width: 100%;
// 			height: 100%;
// 			left: 0;
// 			top: 0;
// 			object-fit: cover;
// 		}

// 		&_big {
// 			grid-column: span 2;
// 			grid-row: span 2;
// 		}
// 	}
// }



//====================слайдеры======================

// общее для слайдеров

.slick-track {
	display: flex;
}

.slick-list {
	overflow: hidden;
	max-width: 60%;
	margin: 0 auto;
}

// слайдер главный экран

.first__utp-slider {
	position: relative;

	.slick-arrow {
	position: absolute;
	top: 50%;
	font-size: 0;
	z-index: 10;
	width: 71px;
	height: 60px;
	opacity: 0.9;
	}

	.slick-arrow.slick-prev {
		left: 100px;
		@media ( max-width: 1400px) {
			left: calc(50px + (100 - 50) * ((100vw - 768px) / (1400 - 768)));
		}
		background: url(/img/first/Union.svg) 0 0 / 100% no-repeat;
		transform: translateY(-50%);
		transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		&:hover{
			left: -10px;
		}
	}
	
	.slick-arrow.slick-next {
		right: 110px;
		@media ( max-width: 1400px) {
			right: calc(50px + (100 - 50) * ((100vw - 768px) / (1400 - 768)));
		}
			background: url(/img/first/Union.svg) 0 0 / 100% no-repeat;
			transform: scale(-1, 1) translateY(-50%);
			transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		&:hover{
			right: -10px;
		}
	}	

	/* Точки (булиты) */

	.slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.8;
		
		button {
			margin-right: 10px;
			font-size: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #FFFFFF;
			transition: 1s;
		}

		.slick-active button {
			background: $main;
			width: 14px;
			height: 14px;
		}
	}
	
	
	/* Активная точка */
	.slick-dots li.slick-active {

	}
}


//====================footer======================